@use 'hero';
@use 'variables';
@use 'event';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

}

.title {
    font-family: Cedarville, cursive;
    text-transform: uppercase;
}